 <p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @promotion.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @promotion.description %>
</p>

<p>
  <strong>Number:</strong>
  <%= @promotion.number %>
</p>

<p>
  <strong>Date:</strong>
  <%= @promotion.expiration %>
</p>

<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
